<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="attempts" value="3" />
		<add key="multiplicationMaximum" value="10" />
		<add key="addMaximum" value="100" />
		<add key="multiplicationTables" value="0, 1, 2, 3, 4, 5, 10" />
		<add key="benfoldsDistribution" value="false" />
	</appSettings>
</configuration>