<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Language (currently supported: nl, en).  Empty means system default.  There is always a fallback to English. -->
		<add key="language" value="nl_BE" />

	    <!-- Aftere 'attempts' mistakes on the same exercise, the computer moves on to the next exercise. -->
		<add key="attempts" value="3" />

	    <!-- Allowed exercises: add/subtract/multiply/divide -->
		<add key="allowAdd" value="true" />
		<add key="allowSubtract" value="true" />
		<add key="allowMultiply" value="true" />
		<add key="allowDivide" value="true" />

		<!--
		Valid positions:
		Examples:
		  4 means 2 + 3 = ?
		  2 means 2 + ? = 5
		  1 means ? + 3 = 5
		These can be added:
		  7 means any of the exercises above.
		-->
		<add key="validPositions" value="7" />

		<!-- Maximum factor in multiply/divide exercises -->
		<add key="multiplicationMaximum" value="10" />

		<!-- Maximum sum in add/subtract exercises -->
		<add key="addMaximum" value="100" />

		<!-- Multiplication tables that can be used -->
		<add key="multiplicationTables" value="0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10" />

		<!-- Favor lower numbers when exercising -->
		<add key="benfoldsDistribution" value="false" />
	</appSettings>
</configuration>